<br><br><br>
<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>NAME</th>
    
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%=@friendlist.name%></td>
    </tr>
</tbody>
</table>
<%= link_to 'Edit', edit_friendlist_path(@friendlist) %> |
<%= link_to 'Back', friendlists_path %>
